/*BASE*/
$BG-color-btn:rgb(204, 162, 23);
$BP-tablet: 768px;
$BP-desktop: 1200px;
$C-colorTitulo: rgba(255, 255, 255, 0.822);

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

h1,h2,h3,h4,h5{
    color: $C-colorTitulo;
}

.btn{
    color: white;
    border: 0.1rem solid white;
    background-color: $BG-color-btn;

    &:hover{
        color: black;
        background-color: $BG-color-btn;
    }
}

@mixin tablet{
    @media (min-width: $BP-tablet){
        @content;
    }
}

@mixin desktop{
    @media (min-width: $BP-desktop){
        @content;
    }
}