/*CONTACTO*/

main{
    .contenedor-form{
        border-radius: .5rem;
    }

    .formulario{
        form{
            background-image: url(/imgs/3D-parts-on-a-table-dark\ \(1\).jpg);
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            width: 100%;
        }
    }
}