/*FOOTER*/
footer{
    .redes__logos{
        &__logo{
            width: 1.5rem;
            height: 1.5rem;
            color:red;
            font-size: 23rem;
        }
    }
}

.redes{
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
}